.DS_Store
Thumbs.db
*.sql
#*.png
#*.jpg
#*.jpeg
#*.tif
#*.tiff
.idea/
/sitemap*.xml

log/
upload/*
bitrix/html_pages/
bitrix/stack_cache/
bitrix/backup/
bitrix/cache/
bitrix/image_uploader/
bitrix/images/
bitrix/managed_cache/
bitrix/php_interface/dbconn.php
bitrix/tmp/
bitrix/.settings.php
bitrix/coupon_activation.php
bitrix/license_key.php
bitrix/site_checker*.log