* {
    font-family: 'PT Sans Narrow';
}
body{
    background:#dfeefd;
}

a:hover { text-decoration: none; }

a:focus, a:visited {background-color: transparent !important;}

#booker p {
    font-size: 10pt;
}
#bighat{
    background: url("../images/demiTop.jpg") no-repeat;
    height:200px;
}

#leftlogo{
    margin-left: -15px; padding-left:0px;
}
#rightlogo{
    right:0;
}

p {
    font-size: 14pt;
}

#mmenu{
    background: url("../images/dm_10.jpg") repeat-x;
}

#mmenu .navbar-inverse {
    background: transparent;
    border: 0px;    border-radius: 0px;
    margin-bottom:4px;
}

#mmenu .navbar { min-height: 30px; }

#mmenu .navbar-inverse li a {
    padding: 5px 15px;
    font-weight: bold;
    font-size: 1.3em;
    color: #f5fffa;
}



#mmenu .navbar-inverse li.active a, #mmenu .navbar-inverse li.active a:hover{
    color: #628bb3 !important;
    background: #b9dbee !important;
}



#mmenu .navbar-inverse li a:hover {
    color: #fff;
    background: #78abdc;
}

#mainblock {
    min-height:500px;
    background: #fff;
}

#footer{
    background: #4a688a url("../images/dm_191.jpg") repeat-x;
    min-height: 90px;
}

#book{margin:5px 15px 0px -15px;}
#booker {margin-top: 15px; color:#fff;}

.navbar-inverse a.navbar-brand {color: #fff; padding: 7px;}
.navbar-inverse a.navbar-brand:hover
{color: #e9f8ff;}
.navbar-inverse .navbar-toggle {border: 1px solid #71a1ba !important; margin-top: 1px;}
.navbar-inverse .navbar-toggle:hover
{ background-color: #6cb7d7; }


.navbar-collapse { border:0 !important;}

@media screen and (max-width: 768px) {
    #mmenu .navbar-inverse li a { color:#628bb3; }
}

.text-center {
    white-space: nowrap;
}

.logotext-1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
    letter-spacing: 2px;
}

.logotext-2 {
    font-size: 34px;
    color: #1a638f;
    font-weight: bold;
    letter-spacing: 4px;
    margin-bottom: 0px;
    margin-top: -4px;
    line-height: 35px;
}

.logotext-3 {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: -2px;
}


/*===============================*/
/*======= Inner  Pages===========*/
/*===============================*/
.textpage {
    font-size:14pt;
}
.journhead {
    font-size:18pt;
    font-weight: bold;
    color:#1a638f;
}
h3.journhead {
    font-size: 14pt;
    color: #4b6d37;
    margin-top: 5px;
    margin-bottom: 0px;
}
.margtop15{
    margin-top:15px !important;
}

.langswitch {
    height:30px; width:80px;
    padding: 5px 10px;
    font-weight: bold; text-align: center;
    border-radius: 8px; background: #1a638f;
    cursor: pointer;
    color: #d6eef6;
}
.switcher {
    color: whitesmoke;
}
.switcher:hover {
    color: #e38f6b;
}
.btn-large{
    font-size: 16pt;
}
.btn-primary:focus
{ background:linear-gradient(to bottom,#337ab7 0,#265a88 100%) }
.btn-success:focus
{ background:linear-gradient(to bottom,#5cb85c 0,#419641 100%) }
.btn-warning:focus
{ background:linear-gradient(to bottom,#f0ad4e 0,#eb9316 100%) }

.lefttexter {
    font-size:14pt;
}

.righttexter {
    font-size:14pt;
    background-color: #e6f1ff;
}
.leftside {
    padding-left: 0px;
}
.arttitle {
    margin:0px !important;
}
.greeners {
    color: #557d3e;/*#3b562b;*/
}
.greeners:hover {
    color:#82bd5f;
}
.no-left-pads {
    padding-left: 0 !important;
}
.no-right-pads {
    padding-right: 0 !important;
}
.no-pads {
    padding: 0 !important;
}
.spacer {
    min-height:10px;
    min-width:10px;
}
.authholder, .annot {
    font-size:14pt;
}

.artlist {
    font-size:14pt;
    margin-bottom: 18px;
}

.text-center {
    white-space: normal !important;
}
